.App {
  text-align: center;
  min-height: 100vh;
  background-color: #282c34;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.keyboard-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.table-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 20px;
}